extends layouts/layout

block content
    div
        div.logo
            div.logoL 
                div.logoLR Price
            div.logoM
            div.logoR 
                div.logoRL Cut
        div.identification
            div.login 
                a(href="http://localhost:5000/auth/login") Login
            div.sep 
            div.join 
                a(href="http://localhost:5000/auth/join") Sign up